nav, footer {
    background-color: var(--main-color);
    font-family: var(--text-font);
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.2em;
}

/* Style de la nav */

 nav {
    display:flex;
    align-items: center;
    gap: 45%;
    padding: .5em .5em 0.5em ;
}

nav #logo {
width: 15em;
height: auto;
}

nav #menu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 35%;
}

nav ul li {
    min-width: fit-content;
}

#burger {
    display: none;
}

/* Style du header */

header#main-header {
    font-size: 3em;
    font-weight: 600;
    padding: .5em 0 1em 0;
}

/* Page Fiche destination - Style des boutons d'ancrage */

main section#buttons-category {
    display: none;
}

main section.category {
    padding : 0rem 0rem;
}

main section#top-3, body section#manger {
    background-color: var(--white-color);
}
main section.category header {
    padding : 1rem 2rem;
    justify-content: center;
}
main section.category #arrow {
    display: inline-block;
    width: 2%;
}
main section.category img {
    width: 5%;
}
main section.category ul{
    background-color: var(--secondary-color);
    padding-bottom: 1rem;
    padding-left: 6rem;
    width: 100%;
    font-size: 1.2rem;
}

/* Style du footer */


footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
} 

footer span {
    width: 48%;
}

footer ul {
    display: flex;
    align-items: center;
    padding: 1em 2em 1em 2em;
    width: 48%;

}

footer ul li {
    min-width: fit-content;
}
